*{
    box-sizing: border-box;
}
*:focus{
    border: 2px dashed red;
    padding: 5px;
}

body{
    margin: 0;
    padding: 0;
    line-height: 1.5;
    letter-spacing: 0.5px;
    box-sizing: border-box;
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: #444;
}

html{
    scroll-behavior: smooth;
}

.container {
    width: 100%;
    max-width: 1160px;
    padding-left: 30px;
    padding-right: 30px;
    margin-left: auto;
    margin-right: auto;
}

/* Site header */
.site-header{
    position: relative;
    background-color: #fff;
}

.header-container {
    display: flex;
    justify-content: space-between  ;
    align-items: center;
    padding-top: 24px;
    padding-bottom: 24px;
}

.header-nav{
    margin-left: 15px;
}

.site-header-logo{
    color: #222;
    transition: 0.4s ease;
}

.site-header-logo:hover{
    color: #DE2E54;
    transition: 0.4s ease;
}

.site-header-logo:active{
    opacity: 0.6;
}


.site-header-acation{
    display: flex;
    align-items: center;
}

.sitenav-list{
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;
    margin-left: 10px;
    text-transform: uppercase;
}

.sitenav-link{
    text-decoration: none;
    color: #222;
    font-family: 'Open Sans';
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    line-height: 21px;
    letter-spacing: 2px;
}

.sitenav-item:not(:last-child) {
    margin-right: 32px;
}

.sitenav-link:hover{
    color: #DE2E54;
    transition: 0.4s ease;
}

.sitenav-link:active{
    opacity: 0.5;
}

.main-link{
    display: inline-block;
    padding: 12px 24px;
    margin-left: 20px;
    white-space: nowrap;
    background: #DE2E54;
    color: #fff;
    border: 2px solid #DE2E54;
    box-sizing: border-box;
    border-radius: 8px;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 15px;
    letter-spacing: 2px;
}

.main-link:hover{
    background-color: #fff;
    color: #DE2E54;
    transition: 0.4s ease;
}

.main-link:active{
    opacity: 0.4;
    background-color: #DE2E54;
    color: #fff;
}

/* MENU-BTN */
.menu-btn {
    display: none;
    padding: 0;
    margin-left: auto;
    background-color: transparent;
    border: 0;
}

.menu-icon {
    width: 40px;
    height: 30px;
}

/* Site hero */
.site-hero{
    background: #0EB4C1;
}

.site-hero-container {
    display: flex;
    justify-content: space-between;
    padding-top: 29px;
}

.hero-content {
    padding-top: 120px;
}

.hero-heading{
    display: block;
    margin: 0;
    font-size: 36px;
    line-height: 43px;
    letter-spacing: 0px;
    text-align: left;
    color: #fff;
    margin-bottom: 16px;
}

.hero-info{
    font-family: 'Open Sans';
    width: 440px;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    color: #fff;
    margin-top: 0;
    margin-bottom: 36px;
}

.hero-img{
    padding: 0;
    margin: 0;
}

.hero-link{
    background: #DE2E54;
    font-family: 'Open Sans' Condensed;
    font-size: 15px;
    font-weight: 700;
    color: #fff;
    box-sizing: border-box;
    border-radius: 8px;
    text-decoration: none;
    padding: 12px 24px;
    text-transform: uppercase;
    display: inline-block;
    margin-top: 36px;
    margin-bottom: 120px;
    transition: 0.4s ease;
}

.hero-link:hover{
    opacity: 0.8;
    transition: 0.4s ease;
}

.hero-link:active{
    opacity: 0.6;
}

/* Site-services */

.site-services{
    background-color: #fff;
}

.site-services-container{
padding-top: 120px;
}

.services-heading{
    margin: 0;
    font-size: 36px;
    color: #000;
    text-align: center;
}

.services-list{
    list-style: none;
    display: flex;
    flex-direction: column;
    padding-top: 56px;
    margin-top: 80px;
    align-items: center;
}

.servisec-info{
    margin: 0;
    font-family: 'Open Sans';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0px;
    text-align: left;


}

.info-heading{
    display: inline-block;
    margin: 0;
    margin-bottom: 24px;
    font-size: 24px;
    color: #222;
}

.services-img{
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 24px;
    box-shadow: 0px 12px 24px -8px rgba(0, 107, 116, 0.3);
}

.services-wrapper{
    width: 100%;
    max-width: 600px;
    margin-left: 60px;
}

.services-item{
    display: flex;
    margin-bottom: 80px;
}

.services-item-end{
    display: flex;
}

.services-main-link{
    text-align: center;
    margin-bottom: 140px;
}

/* Sign up */
.sign-up{
    display: none;
    background: #0EB4C1;
}

.sign-up-container{
   border: 1px solid #0EB4C1;

}


.sign-up-heading{
    text-align: center;
    font-family: 'Open Sans' Condensed;
    font-size: 36px;
    font-weight: 700;
    line-height: 43px;
    letter-spacing: 0px;
    color: #fff;
}

.sign-up-list{
    list-style: none;
    display: flex;
    justify-content: center;
    padding-bottom: 64px;
    padding-top: 40px;

}

.sign-up-link{
    color: #fff;
    border: 1px solid #fff;
    box-sizing: border-box;
    border-radius: 8px;
    text-decoration: none;
    padding: 12px 24px;
    text-transform: uppercase;
    margin-right: 50px;
    font-family: 'Open Sans', 'Condensed', 'Arial', sans-serif;
    font-size: 15px;
    font-weight: 700;
    line-height: 18px;
    letter-spacing: 2px;
    transition: 0.4s ease;
}

.sign-up-link:hover{
   background-color: #DE2E54;
   border: 1px solid transparent;
}

.sign-up-link:active{
    opacity: 0.6;
}

/* Site-footer */
.site-footer{
    background-color: #222;
    display: none;
}

.footer-container{
padding-top: 24px;
padding-bottom: 24px;

}

.site-footer-logo{
    color: #fff;
    transition: 0.4s ease;
}

.site-footer-logo:hover{
    color: #DE2E54;
    transition: 0.4s ease;
}

.site-footer-logo:active{
    color: #706E6D;
}

.footer-list{
    display: flex;
    list-style: none;
    margin-left: 318px;
}

.footer-link{
    text-transform: uppercase;
    color: #fff;
    font-family: 'Open Sans';
    font-weight: 700;
    margin-left: 32px;
    text-decoration: none;
    transition: 0.4s ease;
}

.footer-link:hover{
    color: #DE2E54;
    transition: 0.4s ease;
}

.footer-link:active{
    color: #706E6D;
}

.footer-acation{
    display: flex;
}


/* RESPONSIVE */

@media only screen and (max-width: 900px) {
    .sitenav-list {
        margin-left: 0;
        order: 5;
        position: absolute;
        top: 85px;
        left: 30px;
    }

    .hero-content {
        padding-top: 20px;
    }

    .hero-heading {
        font-size: 26px;
        line-height: 30px;
    }

    .hero-info {
        width: 100%;
        max-width: 340px;
    }

    .hero-link {
        margin-top: 0px;
        margin-bottom: 30px;
    }

    .main-link {
        padding: 7px;
        font-size: 9px;
        border: 1px solid red;
        margin-left: auto;
    }

    .hero-img {
        width: 400px;
        height: 470px;
        margin-top: auto;
    }
}

@media only screen and (max-width: 750px) {
    .hero-info {
        width: 100%;
        max-width: 300px;
    }

    .hero-heading {
        font-size: 20px;
    }

    .hero-img {
        width: 300px;
        height: 370px;
        margin-top: auto;
    }

    .services-item {
        align-items: center;
    }
}

@media only screen and (max-width: 650px) {
    .site-hero-container {
        display: block;
    }

    .hero-content {
        width: 100%;
        margin-right: 0;
    }

    .hero-info {
        width: 100%;
        max-width: 100%;
    }

    .hero-link {
        margin-left: auto;
        text-align: center;
        margin-bottom: 20px;
    }

    .hero-img {
        width: 100%;
        margin-top: auto;
        margin-left: auto;
        margin-right: auto;
    }

    .services-item {
    margin-bottom: 40px;
    }

    .services-wrapper {
        margin-left: 30px;
    }
}

@media only screen and (max-width: 570px) {
    .header-nav {
        display: none;
    }

    .menu-btn {
        display: block;
    }

    .site-header-open .menu-btn {
        z-index: 50;
    }

    .site-header-open .header-container::before {
        position: absolute;
        top: 0;
        right: 0;
        width: 50%;
        height: 280px;
        background-color: rgba(82, 103, 223, 0.7);
        content: "";
        z-index: 50;
    }

    .site-header-open .header-nav {
        width: 100%;
        max-width: 180px;
        display: block;
        z-index: 51;
        position: absolute;
        top: 20px;
        right: 0px;
        text-align: left;
    }

    .site-header-open .sitenav-list {
      display: block;
      display: flex;
      flex-direction: column;
      align-items: flex-end;
    }

    .site-header-open .sitenav-item {
        margin-right: 0;
    }

    .site-header-open .sitenav-item:not(:last-child) {
        margin-bottom: 10px;
    }

    .site-header-open .sitenav-link {
        font-size: 15px;
        line-height: 11px;
        letter-spacing: 2px;
        color: #222;
    }

    .services-list {
        padding: 0;
    }

    .services-item {
        display: block;
        margin-right: 0;
        margin-left: 0;
        }

        .services-img {
            width: 100%;
            margin-bottom: 20px;
        }
        .services-wrapper {
            margin-left: 0;
        }
}
    @media only screen and (max-width: 450px) {

        .main-link {
            display: none;
        }

    }

@media only screen and (max-width: 400px) {
    .site-header-logo {
        margin-right: 10px;
    }
}
